body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: #eee;
}

.title {
    text-decoration: none;
}

.nav-bar {
    padding: 5px;
}